output_dir: output
dtype: fp16
device: cuda
mixed_precision: fp16
model:
  num_step: 50
  type: "sdxl"
  base_model: "./resource/diffuser/sdxl_base"
  # controlnet: "./resource/diffuser/sdxl_controlnet"
  controlnet: "./resource/diffuser/sdxl_controlnet_union"
mesh:
  path: "dataset/future/Desk"
  shape_scale: 1
  dy: 0
  render_size: 512
  texture_resolution: 1024
  texture_interpolation_mode: "bilinear"
  texture_unet_path: "output/unet_h.pth"
