output_dir: output
dtype: fp16
device: cuda
mixed_precision: fp16
dataset:
  path: "./dataset/512_new"
model:
  num_step: 50
  type: "sdxl"
  base_model: "./resource/sdxl_base"
  controlnet: "./resource/sdxl_controlnet"
mesh:
  path: "resource/3D_Future"
  shape_scale: 1
  dy: 0
  render_size: 512
  texture_resolution: 1024
  texture_interpolation_mode: "bilinear"
  texture_unet_path: "output/unet_h.pth"
